<!DOCTYPE html>
<html>
  <head>
    <title> </title>
    <meta
      name="viewport"
      content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
    />
  </head>

  <body style="margin: 0; padding: 0">
    <div
      style="
        width: 100%;
        margin: 40px auto;
        font-size: 20px;
        color: #5f5e5e;
        text-align: center;
      "
    >
      <span
        >亲爱的前端同事，您好！今天是美居前端学习资金收款日，请扫描下面收款码转账20元，谢谢~</span
      >
    </div>
    <img
      src="https://jiang-1252717891.cos.ap-guangzhou.myqcloud.com/jiangCode.png"
      style="width: 70px; height: 140px; margin-top: 10px"
      alt="收款码"
    />
  </body>
</html>
